html
    head
        title= title
        link(rel="stylesheet", href="/css/index.css")
    body(id="container")
        //- h1= message
        //- p Welcome to #{title}!
        script(src="/three/build/three.min.js")
        script(src="/three/examples/js/Detector.js")
        script(src="/three/examples/js/controls/OrbitControls.js")
        script(src="/js/index_bundle.js")
