html
    head
        title= title
        link(rel="stylesheet", href="/css/index.css")
    body(id="container")
        //- h1= message
        //- p Welcome to #{title}!
        script(src="/js/index_bundle.js")